.sidebar {
    display: flex;
    width: 0%;
    min-height: inherit;
    height: 100%;
    max-height: 100vh;
    box-sizing: border-box;
    background-color: #333;
    padding: 0;
    flex-direction: column;
    overflow: none;

    transition: width 0.3s ease;

    visibility: hidden;

    &.show {
        width: 20%;
        visibility: visible;
        padding: 10px;
    }
}

.toggleButton {
    margin-bottom: 0.5rem;
}

.chatsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    overflow: scroll;
}

.chat {
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    height: 1.5rem;

    background-color: transparent;

    text-decoration:none;
    
    color: white;

    &:hover {
        background-color: #888;
    }

    &.active {
        background-color: #888;
    }

    .chatNameCtr {
        display: flex;
        justify-content: space-between;
    }

    .chatName {
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .chatButtons {
        display: flex;
        flex-direction: row;
    }

    .chatBtn {
        background: none;
        border: none;
        transition: background-color 0.3s ease;
        border-radius: 8px;
        padding: 3px 5px;

        &:hover {
            cursor: pointer;
            background-color: #444444;
        }
    }
}

.loadingChat {
    padding: 15px;
    border-radius: 8px;
    background-color: #888;
    color: #fff;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}