.chatOptions {
    padding: 0 1rem;
    overflow: scroll;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .formSubmit {
        transition: background-color 0.3s ease;
        border: none;
        padding: 0.5rem;
        border-radius: 0.25rem;

        &:hover {
            background-color: #797979;
        }
    }

    .formItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;

        .notice {
            margin: 0;
            color: darkgrey;
        }

        label {
            text-transform: capitalize;
        }

        input {
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 0.25rem;
            font-size: 1rem;
            background-color: #4e4e4e;
        }

        textarea {
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 0.25rem;
            font-size: 1rem;
            background-color: #4e4e4e;
            min-height: 5rem;
        }

        .rangeCtr {
            width: 100%;
            display: flex;

            align-items: center;
            gap: 1rem;
            

            .rangeWrapper {
                flex: 1;
                position: relative;
                padding-bottom: 1rem;

                input {
                    padding: 0;
                    width: 100%;
                }
            }

            
        }

        .select {
            .option {

                color: black;

                &.selected {
                    color: white;
                }
            }
        }
    }

    .formGroup {
        h2 {
            margin: 0;
        }
    }

    .tool {
        display: flex;
        flex-direction: column;

        .inputGroup {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        p {
            margin: 0;
        }
    }
}